.kleur-header{
    background-color: #F2DEBA;
}
.logo{
    margin-top: 1%;
}
.text-link{
    margin-top: 2%;
}
.btn{
    background-color: #3A8891;
    color: #FFFFFF;
}
/*Hier boven staat css voor de header*/

body{
    background-color: #FFEFD6;
}